<!DOCTYPE html>
<html ng-app="notesApp">
<head>
  <title></title>
</head>
<body ng-controller="MainCtrl as ctrl">

  <form novalidate name="userForm">
    <input type="text" name="username" required="" placeholder="Username" ng-model="ctrl.user.username" ng-minlength="4">
    <input type="password" name="password" required="" placeholder="Password" ng-model="ctrl.user.password" ng-minlength="8">

    <ng-form name="profile">
      <input type="text" name="firstName" placeholder="First Name" ng-model="ctrl.user.profile.firstName">
      <input type="text" name="middleName" placeholder="Middle Name" ng-model="ctrl.user.profile.middleName">
      <input type="text" name="lastName" placeholder="Last Name" ng-model="ctrl.user.profile.lastName">
      <input type="date" name="dateOfBirth" placeholder="Date of Birth" ng-model="ctrl.user.profile.dateOfBirth">
    </ng-form>

    <span ng-show="userForm.profile.$invalid">
      Please fill out profile information.
    </span>

    <input type="submit" value="Submit">
  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script type="text/javascript">
    angular.module('notesApp', [])
      .controller('MainCtrl', [function() {
        var self = this;
        self.submit = function() {
          console.log('First form submit with ', self.user);
        };
      }]);
  </script>
</body>
</html>
