<div class="login-container"
     ng-controller="RegisterCtrl as registerCtrl">
  <div class="alert alert-danger"
       ng-bind="registerCtrl.errorMessage"
       ng-show="registerCtrl.errorMessage"></div>
  <div class="card login-card">
    <div class="login-form">
      <form name="registerForm"
            ng-submit="registerCtrl.register()"
            class="form-horizontal"
            role="form">
          <div class="form-group">
              <label for="email">Username</label>
              <input type="text"
                     ng-model="registerCtrl.user.username"
                     class="form-control"
                     id="email"
                     placeholder="Enter Username"
                     required="">
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password"
                     ng-model="registerCtrl.user.password"
                     class="form-control"
                     id="password"
                     placeholder="Enter Password"
                     required="">
          </div>
          <input type="submit"
                 class="btn btn-success btn-lg"
                 value="Register"
                 ng-disabled="registerForm.$invalid">
          <a href="#/login/">
            <button class="btn btn-warning btn-lg">I am already registered</button>
          </a>
      </form>
    </div>
  </div>
</div>
